@import "tailwindcss";

@utility container {
  margin-inline: auto;
}


@theme{
  /* -------------Fonts----- */

  --font-lato: "Lato", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;


  /* ------------Color------- */

  --color-themePink: #FB2E86;
  --color-themeRed: #FB2448;
  --color-blueWeb: #2F1AC4;
  --color-offneavy: #3F509E;
  --color-navyBlue: #151875;
  --color-pantone: #E0D3F5;
  --color-purple: #7E33E0;
  --color-offPurple: #9F63B5;
  --color-whiteText: #F1F1F1;
}