@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* -------------Fonts----- */

  --font-lato: "Lato", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-abyssinica: "Abyssinica SIL", serif;

  /* ------------Color------- */

  --color-themePink: #fb2e86;
  --color-themeRed: #fb2448;
  --color-blueWeb: #2f1ac4;
  --color-offneavy: #3f509e;
  --color-navyBlue: #151875;
  --color-pantone: #e0d3f5;
  --color-purple: #7e33e0;
  --color-offPurple: #9f63b5;
  --color-whiteText: #f1f1f1;
}
